<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <meta charset="utf-8">
    <title>DsOverview</title>

    <link rel="stylesheet"  href="style/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="script/jscript.js" charset="utf-8"></script>
    <!--<script src="script/scrollnav.min.umd.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--<script src="script/jsVue.js" charset="utf-8"></script>-->




  </head>
  <body>


    <div id="app"></div>

  <div id="header">

   <p style="float:left;">&#124;&nbsp; DsOverview</p>

  </div>

  <div id="nav" class="scroll-nav" >


      <!--
      <div style="margin-top:55px;" class="box">
      <p>Displaygroup</p>
    <!-<div id="strich33"></div>->

    <div style="margin-top:55px;" class="box" id="scroll-nav__1" >
        <p>Displaygroup</p>
          <div style="float:left;" class="navtwo">
            <h1>Display01</h1>
            <h1 style="margin-top:17px;width:100px;">Display02</h1>
            <h1 style="margin-top:17px;">Display03</h1>
            <h1 style="margin-top:17px;">Display04</h1>
          </div>
          <img style="margin:27px 0px 0px 50px;float:left;width:300px;"src="images/temp.jpg">
      </div>


      <div class="box" id="scroll-nav__2">
          <p>Displaygroup</p>
                <div style="float:left;" class="navtwo">
                   <h1>Display01</h1>
                   <h1 style="margin-top:17px;width:100px;">Display02</h1>
                   <h1 style="margin-top:17px;">Display03</h1>
                   <h1 style="margin-top:17px;">Display04</h1>
                 </div>

             <img style="margin:27px 0px 0px 50px;float:left;width:300px;height:180px;"src="images/temp2.jpg">
        </div>


        <div style="margin-bottom:900px;" class="box" id="scroll-nav__3">
            <p>Displaygroup</p>
                <div style="float:left;" class="navtwo">
                  <h1>Display01</h1>
                  <h1 style="margin-top:17px;width:100px;">Display02</h1>
                  <h1 style="margin-top:17px;">Display03</h1>
                  <h1 style="margin-top:17px;">Display04</h1>
                </div>

            <img style="margin:27px 0px 0px 50px;float:left;width:300px;"src="images/temp.jpg">
        </div>


  -->  </div>

  <div id="contant" style="margin-top: 100px; margin-left: 300px;">

    <container
        v-for="input in input"
        v-bind:key="input.id"
        v-bind:input="input"
    ></container>

  </div>


  </body>

<script type="text/javascript">

Vue.component('container', {
props: ['input'],
template: `
  <div class="container">
    <h3>{{ input.title }}</h3>

    <ul>
      <display
        v-for= "item in dislist"
        v-bind:dis="item"
        v-bind:key="item.id"
      ></display>
    </ul>

    <div v-html="input.content"></div>
  </div>
`
})

var contain = new Vue({
  el: '#contant',
  data: {
    input: [
      { id: 1, title: 'My journey with Vue' },
      { id: 2, title: 'Blogging with Vue' },
      { id: 3, title: 'Why Vue is so fun' }
    ]
  }
})

Vue.component('display', {
  props: ['dis'],
  template: '<li>{{ dis.text }}</li>'
})

var disVue = new Vue({
  el: '.container',
  data: {
    dislist: [
      { id: 0, text: 'Vegetables' },
      { id: 1, text: 'Cheese' },
      { id: 2, text: 'Whatever else humans are supposed to eat' }
    ]
  }
})


  </script>


</html>
